<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="K-Factor Generator" Language="1033" Version="1.0.0.0" Manufacturer="Marc Jennings" UpgradeCode="8a8493ef-0f35-4c24-acbc-6439ad8f6c7c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="ApplicationFiles"/>
      <ComponentRef Id="ApplicationShortcuts"/>
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="K-Factor Generator"/>
      </Directory>
      <!-- Step 1: Define the directory structure -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="K-Factor Generator"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="ApplicationFiles" Guid="40012291-D5B7-453A-9967-B1ACCB5FFADF">
        <File Id="MainExe" Source="..\K-Factor-Test-Generator-WPF\bin\$(var.Configuration)\K-Factor-Test-Generator-WPF.exe"/>
        <File Id="MainExeConfig" Source="..\K-Factor-Test-Generator-WPF\bin\$(var.Configuration)\K-Factor-Test-Generator-WPF.exe.config"/>
        <File Id="SharedDLL" Source="..\K-Factor-Test-Generator-WPF\bin\$(var.Configuration)\K_Factor_Shared.dll"/>
      </Component>
      <!--<Component Id="myapplication.exe" Guid="PUT-GUID-HERE">
        <File Id="myapplication.exe" Source="MySourceFiles\MyApplication.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="documentation.html" Guid="PUT-GUID-HERE">
        <File Id="documentation.html" Source="MySourceFiles\documentation.html" KeyPath="yes"/>
      </Component>-->
    </DirectoryRef>

    <!-- Step 2: Add the shortcut to your installer package -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="D272B6F1-4C55-47A5-A6D9-FE68ECB1E2A5">
        <Shortcut Id="ApplicationStartMenuShortcut"
                Name="K-Factor Generator"
                Description="K-Factor Generator"
                Target="[#MainExe]"
                WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\K-Factor Generator" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    
    

    <!--<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="K-Factor Generator">
          <Component Id="ApplicationFiles" Guid="40012291-D5B7-453A-9967-B1ACCB5FFADF">
            <File Id="MainExe" Source="..\K-Factor-Test-Generator-WPF\bin\$(var.Configuration)\K-Factor-Test-Generator-WPF.exe"/>
            <File Id="MainExeConfig" Source="..\K-Factor-Test-Generator-WPF\bin\$(var.Configuration)\K-Factor-Test-Generator-WPF.exe.config"/>
            <File Id="SharedDLL" Source="..\K-Factor-Test-Generator-WPF\bin\$(var.Configuration)\K_Factor_Shared.dll"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" >
        <Directory Id="ProgramMenuSubfolder" Name="K-Factor Generator">
          <Component Id="ApplicationShortcuts" Guid="D272B6F1-4C55-47A5-A6D9-FE68ECB1E2A5">
            <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="K-Factor Generator"
                    Description="K-Factor Generator"
                    Target="[#MainExe]"
                    WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\K-Factor Generator" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

    </Directory>-->
	</Product>
</Wix>
